.coming {
    display: flex;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
} 

.Heading {
    font-size: 100px;
}

@media screen and (max-width: 640px){
    .Heading  {
        font-size: 60px;
    }
} 