.aboutme-container{
    height: auto;
    width: 100%;
    display: flex;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
}

.texta {
    width: 100vw;
    align-items: middle;
    text-align: middle;
    margin: 0px 100px;

}