.Footer {
    width: 100%;
    padding: 120px 0 0 0;
    background-color: rgba(23, 22, 22, 0.852);
    max-height: fit-content;
}

.footer-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: fit-content;
    grid-gap: 40px;
    padding-bottom: 60px;
}

.left{
    height: 20vh;
    max-width: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    font-size: 20px;
}

.home {
    display: flex;
    margin-bottom: 15px;
}

.projects {
    margin-bottom: 15px;
    display: flex;
}

.about {
    margin-bottom: 15px;
    display: flex;
}

.right {
    font-size: 20px;
}

.right h3 {
    font-size: 30px;
    color: rgb(46, 175, 200);
}


h3 {
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}

.shloka {
    text-align: center;
    padding-bottom:30px;
    color:rgb(190, 250, 250);
    font-size: 29px;
    font-weight: 1000;
}

@media screen and (max-width: 640px) {
    .footer-container {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .left{
        padding-top: 0;
    }
    .right{
        padding-bottom: 40px;
        padding-left: 15px;
    }
}