.hero-img{
    font-family: 'Outfit', sans-serif;
    width: 100%;
    background: rgba(0, 0, 0, 0.333);
    height: 80vh;
    position: relative;
    
}


.hero-img::before{
    content: "";
    background: url("https://images.pexels.com/photos/3184454/pexels-photo-3184454.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
}


.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img h1 {
    font-size: 32.064;
    text-align: center
}

.hero-img p {
    font-size: 1.4rem;
    text-align: center
}

@media screen and (max-width: 640px) {
    .hero-img h1 {
        font-size: 2rem;
    }
}