.pricing {
    width: 100%;
    padding: 6rem 1rem;
    background: #000;
}

.heading {
    font-size: 30px;
    padding-bottom: 1rem;
}

.card-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}


.card {
    border: 6px solid #eee;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    height: auto;
}

.card:hover {
    background-color: #141414;
}

.card h3{
    font-size: 1.4rem;
    padding: 1rem;
    color: antiquewhite;
}

.card p{
    padding: 10px 0;
}

.card .btn{
    display: block  ;
    width: 80%;
    margin: 20px auto;
}


@media screen and (max-width: 748px){
    .card-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns:  1fr;
    }
}