@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Inter:wght@500&family=PT+Sans+Caption&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Outfit', sans-serif;
  background: #000;
}

h1, h4, p, a{
  color: #fff;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: black;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}
.btn-light {
  background: transparent;
  color: #fff;
}

.btn:hover {
  background:  rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}